/* CALENDAR | ----------------------*/

.calendarBlock{
    background-color: khaki;
    display: grid;
    grid-template-rows: 40px 1fr;
    width: 98%;
    height: 92%;
    margin: 1%;
}

.calendarBlock__title{
    grid-row: 1;
    background-color: whitesmoke;
    color: black;
    font-family: 'Lobster', cursive;
    position:relative;
    top: 15%;
    right: 1%;
    width: fit-content;
    height: fit-content;
    padding: 0px 7px;
}

.calendarBlock__content{
    grid-row: 2;
    width: 100%;
    height: 100%;
    padding: 2%;
}