/*Esta hoja tendría los estilos generales, si no hiciese falta no pondría otras hojas, pero creo que voy a tener que*/

/*Codificacion de nombres: BEM -> block__element--modifier, refiriendose block a etiqueta y elemento a clase.*/

/*imports*/ 
/*Esta bueno que se puede importar incluso otro archivo css para reorganizarlos*/
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap'); /*se puede importar en html tambien con link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/*Reset*/
* { 
    margin: 0 auto;
    padding: 0 auto;
}

/*--TAGS--*/
iframe{
    width: 100%;
    border-width: 0;
}

ul {
    list-style-type: square;
}

header {
    width: auto;
    background-color: rgb(12, 109, 12);
    border-bottom: 5px solid rgb(16, 141, 12);
    margin: 0px 0px 1% 0px;
}

header div {
    margin: 15px 0px 10px 10px;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    color:whitesmoke;
}

nav {
    margin: 0% 2%;
    position: relative;
    z-index: 2;
    height: auto;
}

nav div {
    display: inline-block;
    background-color: grey;
    border-width: 2px 2px 2px 2px;
    border-color: black;
    border-style: solid;
    font-size: 2.5vh;
    font-family:'Poppins', sans-serif;
}

section {
    margin: 0% 0.5%;
    width:99%;
    background-color: rgb(202, 202, 202);
    border-width: 2px 2px 2px 2px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    position: relative;
    bottom: 2px;
    z-index: 1;
}

aside {
    display:inline-block;
    width: 27%;
    margin: 0% 0%;
    border: 2px solid black;
    background-color: whitesmoke;
}

table, th, td {
    border: 1px solid black;
}

footer {
    background-color: green;
    color: whitesmoke;
    border-top: 5px solid black;
    border-left: 5px solid black;
    clear: both;
}

footer b {
    color: white;
    display: flow-root;
    height:45px;
}

section table {
    width: 99%;
}

/*--CLASS & IDS--*/
/*CLASS & IDS: General*/

.nav__choice{
    background-color: rgb(202, 202, 202);
    border-bottom-width: 0px;
    width:fit-content;
    font-size: 3.5vh;
}

.section__title { /*Estilo que incluye tanto al */
    background-color: rgb(16, 141, 12);
    border-radius: 100%;
    color: whitesmoke;
    font-family: "Otomanopee One", "sans-serif";
    font-weight: bold;
    width: fit-content;
    margin: 10px 0px 10px 5px;
    padding: 0.5% 3%;
}

.sectionWithAside {
    width:70%;
}

.sideImage{
    display:inline-block;
    width: 25%;
    margin: 0 2%;
}

.sideText{
    display:inline-block;
    width: 65%;
    font-style: italic;
    margin: 0 2%;
}

.floatClearer {
    clear:both;
}

.linkBlack {
    font-style: normal;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*CLASS & IDS: Home*/
.section__news{
    box-sizing:border-box;
    background-color: whitesmoke;
    border: 2px solid black;
    display: inline-block;
    width: 29%;
    margin: 1% 1% 1% 0.4%;
}

.section__newsFlap {
    max-width: max-content;
    border: 1px solid black;
    margin: 1% 1% 1% 0.4%;
}

.section__newsElement{
    float: left;
    margin: 1% 1% 1% 0.4%;
}

/*CLASS & IDS: Calendar*/
#calendarTable {
    margin: 10px
}

#calendarTable th {
    background-color: green;
    color:white;
}
#calendarTable td {
    background-color: whitesmoke;
}

/*CLASS & IDS: Gallery*/
.galleryReel {
    max-width:fit-content;
    background-color: transparent;
    border-width: 0px;
}

.galleryReel img {
    width: 10%;
}

/*CLASS & IDS: Shop*/
.section__productGrid{
    width:100%;
}

.section__productElement{
    display:inline-block;
    width: 40%;
    margin:0px 4%;
}

.section__productImg{
    display:block;
}

.section__productDescrip{
    display:block;
}

/*CLASS & IDS: Contact*/
.section__contactElement{
    height: 50px;
    width: 45%;
    margin: 0 2%;
    display: inline-block;
}

.section__contactImg{
    display: inline-block;
}

.section__contactData{
    display: inline-block;
}

/*CLASS & IDS: Footer*/

.footer__locationImage{
    width:5%;
    max-width: 100;
    display: inline-block;
}

.footer__locationDescrip{
    margin: 0 2%;
    display:inline-block;
}