/* HOME | --------------------------------*/

.homeContentBlock{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 98%;
    height: 100%;
    margin: 1%;
}

.homeContentBlock__newsBlock{
    display: inline-grid;
    align-self: center;
    grid-template-rows: 1fr 3fr;
    gap: 1%;
    background-color: green;
    width: 30%;
    height: 30%; /*HERE: por que no funciona con el porcentaje*/
    margin: 1%;
}

.homeContentBlock__newsTitle{
    grid-row: 1;
    color: whitesmoke;
    align-self: flex-end;
    font-size: 300%;
    font-family: 'Amatic SC', cursive;
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
    margin-left: 3%;
}

.homeContentBlock__newsSection{
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 7fr;
    width: 92%;
    height: 92%;
    margin: 4%;
}

.homeContentBlock__newsSection__navigation{
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.homeContentBlock__newsSection__navigation__element{
    display: inline-block;
    background-color: whitesmoke;
    font-family: 'Amatic SC', sans-serif;
    font-size: x-large;
    color: black;
    padding: 2px 4px;
}

.homeContentBlock__newsSection__content{
    grid-row: 2;
    background-color: white;

    padding: 2px 4px;
}

.homeContentBlock__newsSection__contentText{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.homeContentBlock__reelBlock{
    display: inline-grid;
    align-self: center;
    grid-template-rows: min(2vw, 1.3em) 1fr;
    width: 30%;
    height: 30%;
    margin: 1%;
}

.homeContentBlock__reelBlock__reelTitle{
    grid-row: 1;
    position: relative;
    right: 3%;
    top: 50%;
    background-color: green;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: min(2vw, 1.3em);
    width: fit-content;
    height: fit-content;
    padding: 3px 7px;
}

.homeContentBlock__reelBlock__reel{
    grid-row: 2;
    grid-column: 1; 
    width: 100%;
    height: 100%;
}

.homeContentBlock__reelBlock__reelElement{
    display:inline-block;
    width:30%;
}

.homeContentBlock__reelBlock__reelIcon{
    grid-row: 2;
    grid-column: 1;
    align-self: flex-end;
    justify-self: flex-end; /*HERE: No se como hacer que quede responsive siempre en la misma posición*/
    z-index: 1;
    width: 20%;
    height: fit-content;
}

.homeContentBlock__calendarBlock{ /*Si esto se va a poner en todas las paginas se podría generalizar*/
    display: inline-grid;
    align-self: center;
    grid-template-rows: min(2vw, 1.5em) 6fr 1fr;
    background-color: darkgray;
    width: 30%;
    height: 100%;
    margin: 1%;
}

.homeContentBlock__calendarBlock__title{
    grid-row: 1;
    position: relative;
    right: 6%;
    background-color: green;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: min(2vw, 1.5em);
    width: fit-content;
    height: fit-content;
    padding: 0px 7px;
    margin-top: 5%;
}

.homeContentBlock__calendarBlock__calendarObject{
    grid-row: 2;
    width: 96%;
    height: 100%;
    margin: 2%;
}

/*Example calendar taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_calendar*/

.homeContentBlock__calendarBlock__calendarObject__month {
    padding: 5% 6%;
    width: 98%;
    background-image: url("../imgs/winter_cabin.png"); /*HERE: esto podría cambiar mes a mes con JS*/
    text-align: center;
    margin: 0% 1%;
}

.homeContentBlock__calendarBlock__calendarObject__month__name {
    color: white;
    font-family: 'Amatic SC', sans-serif;
    font-size: min(4vw, 3em);
    text-transform: uppercase;
    letter-spacing: 2%;
}

.homeContentBlock__calendarBlock__calendarObject__month__prev {
    color: white;
    float: left;
    font-size: min(2vw, 2em);
    padding-top: 10%;
}

.homeContentBlock__calendarBlock__calendarObject__month__next {
    color: white;
    float: right;
    font-size: min(2vw, 2em);
    padding-top: 10%;
}

.homeContentBlock__calendarBlock__calendarObject__weeks{
    margin: 1% 0% 0% 0%
}

.homeContentBlock__calendarBlock__calendarObject__weeks__weekdays {
    padding: 1% 0;
    background-color: white;
}

.homeContentBlock__calendarBlock__calendarObject__weeks__weekdays ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.homeContentBlock__calendarBlock__calendarObject__weeks__weekdays li {
    width: 13%;
    font-family: 'Roboto', sans-serif;
    color: #666;
    justify-self: center;
    list-style-type: none;
}

.homeContentBlock__calendarBlock__calendarObject__weeks__days {
    padding: 1% 0% 4% 0%;
    background-color: wheat;
}

.homeContentBlock__calendarBlock__calendarObject__weeks__days ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 3%;
}

.homeContentBlock__calendarBlock__calendarObject__weeks__days li {
    width: 13%;
    font-family: 'Roboto', sans-serif;
    color: #666;
    justify-self: center;
    list-style-type: none;
}

.homeContentBlock__calendarBlock__calendarObject__weeks__days--choice {
    padding: 1%;
    background: lightgreen;
    color: white
}

/*End of example calendar taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_calendar*/

.homeContentBlock__calendarBlock__contactBubble{
    grid-row: 3;
    width: 80%;
    height: 88%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: flex-end;
    position: relative;
    left: 5%;
}

.homeContentBlock__calendarBlock__contactBubble__img{
    align-self: center;
    width: 3em;
    background-color: green;
    clip-path: circle(45% at center);
    position:relative;
    left: 4%;
}

.homeContentBlock__calendarBlock__contactBubble__msg{
    align-self: center;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    background-color: white;
    border: 3px solid green;
    padding: 0px 7px;
}

.homeContentBlock__calendarBlock__contactBubble__msg a{
    text-decoration: none;
}

.homeContentBlock__calendarBlock__contactBubble__msgText{
    color: green;
    font-family: 'Lobster', cursive;
    font-size: min(2vw, 1em)
}

@media screen and (max-width: 1280px){
    .homeContentBlock{
        flex-direction: column;
    }

    .homeContentBlock__newsBlock{
        display: block f;
        width: 100%;
        margin: 2%;
    }

    .homeContentBlock__newsTitle{
        margin-top: 1%;
    }

    .homeContentBlock__newsSection{
        width: 88%;
        margin: 1% 6% 2% 6%;
    }

    .homeContentBlock__reelBlock{
        width: 40%;
        height: 30%;
    }

    .homeContentBlock__reelBlock__reelTitle{
        right: 10%;
        top: 50%;
    }
    
    .homeContentBlock__calendarBlock{
        width: 100%;
        height: 30%;
    }

    .homeContentBlock__calendarBlock__title{
        right: 1%;
        margin-top: 1%;
    }

    .homeContentBlock__calendarBlock__calendarObject__month__prev {
        font-size: min(4vw, 3em);
        padding-top: 3%;
    }
    
    .homeContentBlock__calendarBlock__calendarObject__month__next {
        font-size: min(4vw, 3em);
        padding-top: 3%;
    }

    .homeContentBlock__calendarBlock__calendarObject__weeks__days {
        padding: 1% 0% 2% 0%;
        background-color: white;
    }

    .homeContentBlock__calendarBlock__contactBubble{
        position: relative;
        left: 1.5%;
    }

    .homeContentBlock__calendarBlock__contactBubble__img{
        left: 2%;
    }
}