/* CALENDAR | ----------------------*/

.calendarBlock{
    background-color: $palette-last-main;
    @if $color-mode == grayscale{
        background-color: $palette-last-main;
    }
    display: grid;
    grid-template-rows: auto 1fr;
    width: 98%;
    margin: 1%;
}

.calendarBlock__title{
    grid-row: 1;
    @include create-cursive-title(unquote("max(3vw, 1em)"), $palette-secondary-main-font, $palette-secondary-main, 15%, 1%);
    width: fit-content;
    height: fit-content;
    padding: 0px 7px;
}

.calendarBlock__content{
    grid-row: 2;
    width: 100%;
    height: 100%;
    padding: 2%;
}