/* CONTACT | ----------------------*/

.contactBlock{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 92%;
    margin: 1%;
}

.contactBlock__title{
    grid-row: 1;
    @include create-cursive-title(unquote("min(1rem, 4vw)"), $light-titles, $light-titles-bckgnd);
    width: fit-content;
    height: fit-content;
    padding: 0px 15px;
}

.contactBlock__grid{
    grid-row: 2;
    display: flex;
    width: 90%;
    flex-direction: row;
    margin: 0.5% 5%;
    justify-content: space-evenly;
}

.contactBlock__gridElement{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.contactBlock__gridElement__icon{
    opacity: 0.8;
    width: 100%;
    align-self: center;
    transition: transform 0.8s;
}

.contactBlock__gridElement__text{
    opacity: 0;
    font-family: $main-text-font;
    width: 100%;
    text-align: center;
    color: $dark-text;
    transition: opacity 0.5s, transform 0.8s;
}

.contactBlock__gridElement:hover .contactBlock__gridElement__icon{
    transform: translateY(-0.5rem)
}

.contactBlock__gridElement:hover .contactBlock__gridElement__text{
    opacity: 1;
    transform: translateY(0.3rem)
}

.contactBlock__gridElement__text--title{
    font-size: unquote("min(1rem, 2vw)");
}

.contactBlock__gridElement__text--content{
    font-size: unquote("min(1rem, 1vw)");
}

.contactFormBlock{
    margin-bottom: 1%;
    label{
        color: $dark-text;
    }
    small{
        color: $dark-text-secondary;
    }
    button{
        background-color: $float-square-bckgnd;
        border: $nav-bckgnd;
    }
}

.contactFormBlock__title{
    @include create-cursive-title(unquote("min(1rem, 4vw)"), $light-titles, $light-titles-bckgnd);
    width: fit-content;
    height: fit-content;
    padding: 0px 0.1rem;
}

@media screen and (max-width: 504px){

    .contactBlock__grid{
        flex-direction: column;
        width: 90%;
        margin: 0.5% 5%;
    }
    
    .contactBlock__gridElement{
        flex-direction: row;
        width: 100%;
        margin-bottom: 4%;
    }
    
    .contactBlock__gridElement__icon{
        width: 30%;
        transform: translateX(6rem)
    }
    
    .contactBlock__gridElement__text{
        width: 70%;
        text-align: left;
        transition: transform 0.8s, opacity 1s;
    }
    
    .contactBlock__gridElement:hover .contactBlock__gridElement__icon{
        transform: translateX(-0.3rem)
    }
    
    .contactBlock__gridElement:hover .contactBlock__gridElement__text{
        opacity: 1;
        transform: translateX(2rem)
    }

    .contactBlock__gridElement__text--title{
        font-size: unquote("max(0.8rem, 3vw)");
    }
    
    .contactBlock__gridElement__text--content{
        font-size: unquote("max(0.8rem, 2vw)");
    }
}