/* HOME | --------------------------------*/

.homeContentBlock{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 98%;
    height: 100%;
    margin: 10% 1%;
}

.homeContentBlock__newsBlock{
    display: inline-grid;
    align-self: center;
    grid-template-rows: 1fr 3fr;
    gap: 1%;
    background-color: $float-square-bckgnd;
    width: 30%;
    height: 30%; /*HERE: por que no funciona con el porcentaje*/
    margin: 1%;
}

.homeContentBlock__newsTitle{
    grid-row: 1;
    color: $light-titles;
    align-self: flex-end;
    font-size: 300%;
    font-family: 'Amatic SC', cursive;
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
    margin-left: 3%;
}

.homeContentBlock__newsSection{
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 7fr;
    width: 92%;
    height: 91%;
    margin: 4%;
}

.homeContentBlock__newsSection__navigation{
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.homeContentBlock__newsSection__navigation__element{
    display: inline-block;
    position: relative;
    background-color: whitesmoke;
    font-family: 'Amatic SC', sans-serif;
    font-size: x-large;
    color: black;
    padding: 2px 4px;
    transition: bottom 2s;
}

.homeContentBlock__newsSection__navigation__element:hover{
    bottom: 10%;
}

.homeContentBlock__newsSection__content{
    grid-row: 2;
    background-color: white;

    padding: 2px 4px;
}

.homeContentBlock__newsSection__contentText{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.homeContentBlock__reelBlock{
    display: inline-grid;
    align-self: center;
    grid-template-rows: unquote("min(2vw, 1.3rem) 1fr");
    width: 30%;
    height: 30%;
    margin: 1%;
}

.homeContentBlock__reelBlock__reelTitle{
    grid-row: 1;
    @include create-cursive-title(unquote("min(2vw, 1.3rem)"), $light-titles, $light-titles-bckgnd, 50%, 3%);
    width: fit-content;
    height: fit-content;
    padding: 3px 7px;
}

.homeContentBlock__reelBlock__reel{
    grid-row: 2;
    grid-column: 1;
    width: 100%;
}

.homeContentBlock__reelBlock__reelElement{
    display:inline-block;
    width:30%;
    align-self: center;
}

.homeContentBlock__reelBlock__reelIcon{
    grid-row: 2;
    grid-column: 1;
    align-self: flex-end;
    justify-self: flex-end; /*HERE: No se como hacer que quede responsive siempre en la misma posición*/
    z-index: 1;
    width: 20%;
    height: fit-content;
}

.homeContentBlock__calendarBlock{ /*Si esto se va a poner en todas las paginas se podría generalizar*/
    display: inline-grid;
    align-self: center;
    grid-template-rows: unquote("min(2vw, 1.5rem) 6fr 1fr");
    background-color: $float-square-secondary;
    width: 30%;
    height: 100%;
    margin: 1%;
}

.homeContentBlock__calendarBlock__title{
    grid-row: 1;
    @include create-cursive-title(unquote("min(2vw, 1.3rem)"), $light-titles, $light-titles-bckgnd, $right:3%);
    width: fit-content;
    height: fit-content;
    padding: 0px 7px;
    margin-top: 5%;
}

.homeContentBlock__calendarBlock__content{
    grid-row: 2;
    width: 96%;
    height: 100%;
    margin: 2%;
}

.homeContentBlock__calendarBlock__contactBubble{
    grid-row: 3;
    width: 80%;
    height: 88%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: flex-end;
    position: relative;
    left: 5%;
}

.homeContentBlock__calendarBlock__contactBubble__img{
    align-self: center;
    width: 3em;
    background-color: $light-titles-bckgnd;
    clip-path: circle(45% at center);
    position:relative;
    left: 4%;
}

.homeContentBlock__calendarBlock__contactBubble__msg{
    align-self: center;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    background-color: $calendar-main;
    border: 3px solid $float-square-bckgnd;
    padding: 0px 7px; 
    a {
    text-decoration: none;
    }
}

.homeContentBlock__calendarBlock__contactBubble__msgText{
    h2{
        @include create-cursive-title(unquote("min(2vw, 1.5rem)"), $nav-bckgnd);
        width: max-content;
    }
}

@media screen and (max-width: 1280px){
    .homeContentBlock{
        flex-direction: column;
    }

    .homeContentBlock__newsBlock{
        display: block f;
        width: 100%;
        margin: 2%;
    }

    .homeContentBlock__newsTitle{
        margin-top: 1%;
        font-size: unquote("max(2.8rem, 6vw)");
    }

    .homeContentBlock__newsSection{
        width: 88%;
        margin: 1% 6% 2% 6%;
    }

    .homeContentBlock__reelBlock{
        width: 40%;
        min-width: 200px;
    }

    .homeContentBlock__reelBlock__reelTitle{
        right: 10%;
        top: 50%;
        font-size: unquote("max(0.8rem, 2vw)");
    }
    
    .homeContentBlock__calendarBlock{
        width: 100%;
        height: 30%;
        display: inline-flex;
        flex-direction: column;
    }

    .homeContentBlock__calendarBlock__title{
        right: 1%;
        margin-top: 1%;
        font-size: unquote("max(0.8rem, 2vw)");
    }

    .homeContentBlock__calendarBlock__contactBubble{
        position: relative;
        left: 0%;
        width: 100%;
    }

    .homeContentBlock__calendarBlock__contactBubble__img{
        left: 2%;
    }

    .homeContentBlock__calendarBlock__contactBubble__msgText{
        font-size: unquote("max(0.6rem, 1.5vw)");
    }
}