/*SHOP | ----------------------------*/

.shopContentBlock{
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 98%;
    margin: 1%;
}

.shopContentBlock__productsBlock{
    background-color: gray;
    width: 69%;
    height: 100%;
    margin: 0% 0.5%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.shopContentBlock__productsBlock__title{
    grid-row: 1;
    @include create-cursive-title(unquote("min(1rem, 3vw)"), $light-titles, $light-titles-bckgnd, 20%, 1%);
    width: fit-content;
    height: fit-content;
    padding: 0px 7px;
}

.shopContentBlock__productsBlock__grid{
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 98%;
    height: 100%;
    margin: 0% 1%;
}

.shopContentBlock__productsBlock__gridElement{
    display: inline-grid;
    background-color: darkgray;
    height: fit-content;
    width: fit-content;
    padding: 0% 1%;
    margin: 1% 0%;
    grid-template-rows: 7fr 3fr;
    row-gap: 2%;
}

.shopContentBlock__productsBlock__gridElement__image{
    width: 100%;
    height: 100%;
    clip-path: circle(45% at center);
}

.shopContentBlock__productsBlock__gridElement__text{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.shopContentBlock__howToBlock{
    display: flex;
    flex-direction: column;
    width: 29%;
    height: fit-content;
    background-color: wheat;
    margin: 0% 0.5%;
    padding: 2%;
    align-self: center;
}

.shopContentBlock__howToBlock__title{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: unquote("min(2rem, 3vw)");
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 0px 7px;
}

.shopContentBlock__howToBlock__list{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: fit-content;
    max-height: 80%;
    padding: 2%;
    list-style-position: inside;
}

.shopContentBlock__howToBlock__list--sublist{
    margin-left:10%;
    width: 90%;
}

.shopCostsTable{
    width: 98%;
    height: fit-content;
    padding: 1% 1%;
    margin: 1%;
    border: 2px solid gray;
}

.shopCostsTable table{
    width:100%;
}

.shopCostsTable th {
    background-color: gray;
    color: whitesmoke;
    width: 30%;
}

.shopCostsTable tr {
    background-color: whitesmoke;
    color:black;
    width: 30%;
}
@media screen and (max-width: 690px){

    .shopContentBlock{
        flex-direction: column;
    }

    .shopContentBlock__productsBlock{
        margin: 0.5% 0%;
        width: 100%;
    }

    .shopContentBlock__productsBlock__title{
        font-size: unquote("min(1rem, 9vw)");
    }

    .shopContentBlock__howToBlock{
        margin: 0.5% 0%;
        width: 100%;
    }

    .shopContentBlock__howToBlock__title{
        font-size: unquote("min(2rem, 9vw)");
    }

    .shopContentBlock__productsBlock__gridElement{
        row-gap: 2%;
    }
}