$color-mode: day;

$palette-primary-main: #33691e;
$palette-primary-main-font: #f8fdff;
$palette-primary-light: #629749;
$palette-primary-light-font: #070200;
$palette-primary-dark: #003d00;
$palette-primary-dark-font: #f8fdff;

$palette-secondary-main: #ffd54f;
$palette-secondary-main-font: #070200;
$palette-secondary-light: #ffff81;
$palette-secondary-light-font: #070200;
$palette-secondary-dark: #c8a415;
$palette-secondary-dark-font: #f8fdff;

$palette-last-main: #c5cae9;
$palette-last-main-font: #070200;
$palette-last-light: #f8fdff;
$palette-last-light-font: #070200;
$palette-last-dark: #9499b7;
$palette-last-dark-font: #f8fdff;

$palette-nav-bckgnd: $palette-primary-dark;
$palette-nav-font: $palette-primary-dark-font;
$palette-nav-chosen-bckgnd: $palette-last-light;
$palette-nav-chosen-font: $palette-last-light-font;

$palette-calendar-month: $palette-last-dark-font;
$palette-calendar-weekday-font: $palette-last-dark-font;
$palette-calendar-weekday-bckgnd: $palette-last-dark;
$palette-calendar-day-font: $palette-last-light-font;
$palette-calendar-day-bckgnd: $palette-last-light;

    /*
@if $color-mode == day{
    $palette-primary-main: #33691e;
    $palette-primary-main-font: #f8fdff;
    $palette-primary-light: #629749;
    $palette-primary-light-font: #070200;
    $palette-primary-dark: #003d00;
    $palette-primary-dark-font: #f8fdff;

    $palette-secondary-main: #546e7a;
    $palette-secondary-main-font: #f8fdff;
    $palette-secondary-light: #819ca9;
    $palette-secondary-light-font: #070200;
    $palette-secondary-dark: #29434e;
    $palette-secondary-dark-font: #f8fdff;

    $palette-last-main: #c5cae9;
    $palette-last-main-font: #070200;
    $palette-last-light: #f8fdff;
    $palette-last-light-font: #070200;
    $palette-last-dark: #9499b7;
    $palette-last-dark-font: #f8fdff;

} @else if $color-mode == night{
    $main-bckgnd: rgb(22, 21, 21);
    $nav-bckgnd: white;
    $nav-not-chosen: rgb(37, 36, 36);
    $nav-chosen: whitesmoke;
    $float-square-bckgnd: darkgreen;
    $float-square-secondary: khaki;
    $float-square-aux: rgb(37, 36, 36);
    $light-titles: whitesmoke;
    $light-titles-bckgnd: green;
    $dark-titles: rgb(20, 19, 19);
    $dark-text: white;
    $dark-text-secondary: lightgray;
} @else if $color-mode == christmas{
    $main-bckgnd: wheat;
    $nav-bckgnd: brown;
    $nav-not-chosen: white;
    $nav-chosen: black;
    $float-square-bckgnd: rgb(221, 3, 3);
    $float-square-secondary: brown;
    $float-square-aux: green;
    $light-titles: whitesmoke;
    $light-titles-bckgnd: green;
    $dark-titles: rgb(20, 19, 19);
    $dark-text: black;
    $dark-text-secondary: white;

} @else if $color-mode == grayscale{
    $palette-primary-main: #33691e;
    $palette-primary-main-font: #f8fdff;
    $palette-primary-light: #629749;
    $palette-primary-light-font: #070200;
    $palette-primary-dark: #003d00;
    $palette-primary-dark-font: #f8fdff;

    $palette-secondary-main: #546e7a;
    $palette-secondary-main-font: #f8fdff;
    $palette-secondary-light: #819ca9;
    $palette-secondary-light-font: #070200;
    $palette-secondary-dark: #29434e;
    $palette-secondary-dark-font: #f8fdff;

    $palette-last-main: #c5cae9;
    $palette-last-main-font: #070200;
    $palette-last-light: #f8fdff;
    $palette-last-light-font: #070200;
    $palette-last-dark: #9499b7;
    $palette-last-dark-font: #f8fdff;
}
    */