$main-bckgnd: white;
$nav-bckgnd: lightgray;
$float-sqaure-bckgnd: darkgreen;

$calendar-main: white;
$calendar-secondary: khaki;
$calendar-day-text: rgb(102, 102, 102);
$calendar-day-bckgnd: wheat;
$calendar-title-bckgnd: whitesmoke;

$header-border:rgb(7, 88, 7);

$light-titles: whitesmoke;
$light-titles-bckgnd: green;
$dark-titles: rgb(20, 19, 19);
$dark-text: black;